.install-banner {
  .icon {
    font-size: 5rem;
    color: #4b75ff;
  }
  .highlight {
    color: #4b75ff;
    font-size: 3em;
  }
}

.install-banner {
  background-color: black;
  background-size: contain;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.install-banner h1 {
  color: aliceblue;
}
.install-banner h2 {
  color: aliceblue;
}
