[submodule "CapstoneProject"]
	path = CapstoneProject
	url = https://github.com/IshaShroff/CapstoneProject.git
[submodule "webSVF_capstones/webSVF_5.0/capstoneProject2024"]
	path = webSVF_capstones/webSVF_5.0/capstoneProject2024
	url = https://github.com/joshua-sy/capstoneProject2024.git
[submodule "webSVF_capstones/webSVF_4.0/CapstoneProject"]
	path = webSVF_capstones/webSVF_4.0/CapstoneProject
	url = https://github.com/IshaShroff/CapstoneProject.git
[submodule "webSVF_capstones/CapStoneWebSVF6.0"]
	path = webSVF_capstones/CapStoneWebSVF6.0
	url = https://github.com/AditiSachan/CapStoneWebSVF6.0
	branch = main
[submodule "webSVF_capstones/webSVF6.0"]
	path = webSVF_capstones/webSVF6.0
	url = https://github.com/AditiSachan/CapStoneWebSVF6.0.git
