#profile {
  padding: 40px 15px;
  h1 {
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    margin: 0;
  }
  .content-wrap {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .name-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202124;
    color: white;
    font-size: 60px;
  }
  .photo-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
  }
  h2 {
    color: #5f6368;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
  }
  .card {
    width: 100%;
    max-width: 840px;
    margin: 25px auto;
    .inner-heading {
      font-size: 22px;
      padding: 24px 24px 8px;
      margin: 0;
      text-align: left;
    }
    .info {
      padding: 0px 24px;
      min-height: 56px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dfdfdf;
      h3 {
        letter-spacing: 0.07272727em;
        font-size: 0.6875rem;
        font-weight: 500;
        line-height: 1rem;
        text-transform: uppercase;
        color: #5f6368;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 156px;
      }
      .content {
        letter-spacing: 0.00625em;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: #202124;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      h4 {
        color: #5f6368;
        font-size: 14px;
        margin: 0;
      }
      .icon {
        margin: 10px 0px;
        min-width: 55px;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: #202124;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 36px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        svg {
          height: 17px;
          width: 17px;
          color: #202124;
        }

        .photo {
          position: absolute;
          bottom: 0px;
          width: 60px;
          background-color: rgba(255, 255, 255, 0.6);
          justify-content: center;
          display: flex;
          padding-bottom: 1px;
        }
      }
      .popup {
        position: relative;
        min-width: 40px !important;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg {
          font-size: 17px;
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}
