/*
#alertsignup {
    color: black;
    background-color: rgba(66, 255, 66, 0.383);
}

#sign-up-button{
    color: black;
}*/

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #4CAF50; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  #alertsignup{
      display: none;
  }