#navbar {
  .btn-primary {
    margin-right: 1rem;
  }
}

#nav {
  min-height: 10vh;
}

#navbarNav {
  margin: auto;
  justify-content: flex-end;
}
.navbar-nav {
  color: #000000;
}
.nav-link {
  font-size: large;
}
